name: Auto Update

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 * * * *"

jobs:
  deploy:
    name: Update packages
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Bucket Updates
        uses: Ash258/Scoop-GithubActions@stable-win
        env:
          GITH_EMAIL: batkiz@outlook.com
          SKIP_UPDATED: "1"
